.row form{max-width:430px;margin:0 auto;padding:15px;}
.row form .checkbox{margin-bottom:10px;}
.row form .checkbox{font-weight:normal;}
.row form .form-control{position:relative;font-size:16px;height:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;}
.row form .form-control:focus{z-index:2;}
.row form input[type="text"]{width:100%; margin-bottom:-1px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.row form input[type="password"]{width:100%;margin-bottom:10px;border-top-left-radius:0;border-top-right-radius:0;}
.account-wall{margin-top:20px;background-color:#f7f7f7;-moz-box-shadow:0 2px 2px rgba(0,0,0,0.3);-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3);box-shadow:0 2px 2px rgba(0,0,0,0.3);padding:40px 0 20px;}
.login-title{color:#555;font-size:18px;font-weight:400;display:block;}
.profile-img{width:96px;height:96px;display:block;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;margin:0 auto 10px;}
